@media screen and (max-width: 768px){
  .box1 {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
  }

  img {

    width: 100% !important;
    border-radius:50% !important;
    margin: 0 !important;
    margin: 70px 20px 20px 20px !important;
    object-fit: cover !important;

  }

  .profile {
    flex-direction: column !important;
  }

  .buttonOne {
    display:none !important;
  }

  .buttonTwo {
    display:flex !important;
  }
}
