.datatable {
  height: 85vh;
  // padding: 20px;
  max-width: 79vw;
  margin-left: 19vw;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.approved {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(143, 142, 139, 0.05);
      color: rgb(138, 136, 130);
    }
    &.rejected {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 20px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    .viewButton:hover {
      background-color: #c7eefc;
      border: 1px solid rgba(0, 0, 139, 0.596);
    }
    .editButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: white;
      border: 1px solid rgba(147, 159, 192, 0.596);
      background: #4560fa;
      cursor: pointer;
    }

    .deleteButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
    .deleteButton:hover {
      color: white;
      background-color: #e93219;
      border: 1px solid rgba(226, 16, 16, 0.596);
    }
  }
}
.modal {
  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.approved {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(143, 142, 139, 0.05);
      color: rgb(138, 136, 130);
    }
    &.rejected {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }
}
