.Active {
  background-color: #88bde99c;
}

.AllWidget {
  display: flex;
  gap: 2%;
  margin-left: 20%;
  margin-right: 5%;

  .widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .WidgetCard {
    background-color: #ffffff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 35%;
    height: 10%;
    // padding: 1.8rem;
  }

  .widgetCircularBar {
    width: 50px;
  }
  .MdNorthEastContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    gap: 5px;
  }

  .MdNortIcon {
    border-radius: 50%;
    font-size: 0.7rem;
    background-color: blue;
    color: #ffffff;
  }

  .MdNorthEastContainer p {
    font-size: 0.7rem;
    color: blue;
    margin: 0;
  }
}

.barChart {
  display: flex;
  margin-left: 19%;
  margin-top: 30px;
  gap: 5%;
}

.sectionBar {
  display: flex;
  flex-direction: column;
}

.barVertical {
  background-color: #ffffff;
  border-radius: 10px;
  width: 520px;
  // margin-right: 12%;
}

.barHorizontal {
  background-color: #ffffff;
  border-radius: 10px;
}

.DotHorizontal {
  align-self: flex-end;
  justify-content: start;
}
.donut {
  background-color: #ffffff;
  margin-top: 2%;
  border-radius: 10px;
  width: 43%;
}

.dates {
  display: flex;
  flex-direction: row;
}

.btn {
  background-color: blue;
  border-radius: 10px;
  margin-left: 10px;
  width: 150px;
  color: #ffffff;
  // margin-top: 10px;
  box-shadow: none;
}
@media only screen and (max-width: 600px) and (min-width: 200px) {
  .AllWidget {
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-left: 20%;
    margin-right: 5%;

    .widget {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    .WidgetCard {
      background-color: #ffffff;
      padding: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      width: 87%;
      height: 3%;
    }

    .widgetCircularBar {
      width: 50px;
    }
    .MdNorthEastContainer {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-content: center;
      gap: 5px;
    }

    .MdNortIcon {
      border-radius: 50%;
      font-size: 0.7rem;
      background-color: blue;
      color: #ffffff;
    }

    .MdNorthEastContainer p {
      font-size: 0.7rem;
      color: blue;
      margin: 0;
    }
  }
  .barChart {
    display: flex;
    flex-direction: column;
    margin-left: 19%;
    margin-top: 30px;
    gap: 5%;
  }
  .barVertical {
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
  }
  .donut {
    background-color: #ffffff;
    margin-top: 2%;
    border-radius: 10px;
    width: 90%;
    height: 200px;
  }
}
.list {
  padding-top: 10%;
  margin-left: -90%;
}
// .list {
//   margin-top: 9900px;
//   margin-left: 0%;
// }

// .list {
//   margin-top: 100px;
// }
