.App {
  text-align: center;
}
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(7, 90, 245);
}
.accommodation {
  font-size: calc(10px + 2vmin);
  color: rgb(7, 90, 245);
  height: 60vh;
  width: 50%;
  border: 2px solid rgb(7, 90, 245);
  margin: 20vh auto;
  padding-top: 2rem;
}
